Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
# Ans.
years_list=list(range(1988,1994))
years_list

[1988, 1989, 1990, 1991, 1992, 1993]

Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [2]:
# Ans.
my_third_birthday=years_list[3]
my_third_birthday

1991

Q3.In the years list, which year were you the oldest?

In [3]:
# Ans.
oldest=years_list[-1]
oldest

1993

Q4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;

In [4]:
# Ans.
things=[ "mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [5]:
# Ans.No it did not change the element in the list
things[1].capitalize
print(things)

['mozzarella', 'cinderella', 'salmonella']

Q6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [6]:
# Ans.
surprise=["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [7]:
# Ans.
surprise[-1].lower()[::-1].capitalize()

'Oprah'

Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [8]:
# Ans.
e2f={'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Q9. Write the French word for walrus in your three-word dictionary e2f.

In [9]:
# Ans.
print("French word for walrus is '{}'".format(e2f['walrus']))

French word for walrus is 'morse'

Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [10]:
# Ans. French to English dict
f2e=dict()
for i in e2f.items():
    f2e.update({i[1]:i[0]})

print('French to English dictionary')
print(f2e)

French to English dictionary
{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Q11. Print the English version of the French word chien using f2e.

In [11]:
# Ans
print('English version of the French word chien is "{}"'.format(f2e['chien']))

English version of the French word chien is "dog"

Q12. Make and print a set of English words from the keys in e2f.

In [12]:
# Ans.
eng_words=set(e2f.keys())
eng_words

{'cat', 'dog', 'walrus'}

Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [13]:
# Ans. Multilevel dictionary
life={'animals':{'cats':['Henri', 'Grumpy', 'Lucy'], 'octopi':{}, 'emus':{}}, 'plants':{}, 'other':{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

Q14. Print the top-level keys of life.

In [14]:
# Ans.Top level keys of life:
life.keys()

dict_keys(['animals', 'plants', 'other'])

Q15. Print the keys for life[&#39;animals&#39;].

In [15]:
# Ans. Keys for life['animals']:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

Q16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [16]:
# Ans. Values for life['animals']['cats']:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']